/* Your styles */

.invalid {
    background-color: lightpink;
}

.valid {
    background-color: lightgreen;
}

.app-container {
    width: 530px;
    margin: 20px auto;
}

ul {
    border: 1px solid gray;
    list-style: none;
    padding: 0;
}
ul li {
    padding: 10px;
}
ul li button {
    float: right;
}

input[name="cancel"] {
    display: none;
}